<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap: content:">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="theme-color" content="#ff9502">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>Tommy SDK</title>
    <link rel="stylesheet" href="css/sdk.css">

    <script type="text/javascript">
      SDK_URL = '<%- url %>'
      SDK_CONFIG = <%- JSON.stringify(config) %>
      SDK_LOCAL_ADDONS = <%- JSON.stringify(localAddons) %>
      API_URL = '<%- config.apiEndpoint %>'
      API_ENDPOINT = '<%- config.apiEndpoint %>/v1/'
      SANDBOX_URL = '<%- config.apiSandboxEndpoint %>'
      SANDBOX_ENDPOINT = '<%- config.apiSandboxEndpoint %>/v1/'
    </script>
  </head>
  <body>
    <div id="tommy-sdk"></div>
    <script src="js/sdk.js"></script>
  </body>
</html>
